body {
  background: #222831;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

button {
  background: linear-gradient(135deg, #418cfc 0%,#0061ea 100%);
  border: none;
  border-radius: 99px;
  box-shadow: 0 0 10px #0061ea;
  box-sizing: border-box;
  color: #fff;
  padding: 10px;
  font-size: 24px;
  width: 100%;
}

#camera-button {
  border-radius: 4px;
  font-size: 24px;
  padding: 10px;
  width: 25%;
  margin-bottom: 10px;
  margin-left: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.block-input {
  background: #f0f0f0;
  border: 1px solid #eaeaea;
  border-radius: 3px;;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-size: 24px;
  margin-bottom: 10px;
  padding: 10px;
  transition: .5s ease;
  width: 100%;
}

.block-input:focus {
  border: 1px solid #dadada;
  padding-left: 25px;
  outline: none;
  transition: .5s ease;
}

#root {
  min-height: 100%;
}
